<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destiny Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="destiny-app">
        <div v-for="i in cards" class="card" v-bind:class="i.color">
            <img v-bind:src="i.img">
            <div class="health">{{i.health}}</div>

            <!-- Determine Rarity -->
            <div v-if="i.rarity"><div class="rarity rare">{{i.setNumber}}</div></div>
            <div v-else><div class="rarity legendary">{{i.setNumber}}</div></div>

            <div class="name">{{i.name}}</div>
            <div class="affl" v-bind:class="i.affl">{{i.affl}}</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>